<html>
    <head>
        {# Load the tag library #}
        {% load django_bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        {% block extend_head %}{% endblock extend_head %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://github.com/tproject-org">TProject</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">TLink</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"href="https://github.com/tproject-org/tlink">Github</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Other projects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://github.com/tproject-org/tstatus">TStatus</a></li>
                      <li><a class="dropdown-item" href="https://github.com/tproject-org/tsurvey">Tsurvey</a></li>
                      <li><a class="dropdown-item" href="https://github.com/tproject-org/tpackages">Tpackages</a></li>
                    </ul>
                  </li>
                  
                </ul>
                {% block nav_right %}
                
                {% endblock nav_right %}
               
              </div>
            </div>
          </nav>
        {% endblock nav %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        {% block body %}{% endblock body %}
    </body>

</html>


